@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html>
    <head>
        <partial name="_Head" />
    </head>

    <body class="sb-sidenav-toggled">
        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">@localizer["HelpPage"]</div>
                <div class="list-group list-group-flush">
                    <p>@localizer["Search"]</p>
                    <p>@localizer["Add"]</p>
                    <p>@localizer["Modify"]</p>
                    <p>@localizer["Delete"]</p>
                </div>
            </div>
            <form method="post" style="width:100vw">
                <partial name="_Header" />
                <div class="container">
                    <main role="main" class="pb-3">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link" asp-controller="News" asp-action="Index">Home</button>
                            </li>
                            <li class="nav-item">
                                <button id="Administrator" type="submit" class="nav-link" asp-controller="Administrator" asp-action="Accounts">@localizer["Administrator"]</button>
                            </li>
                            <li class="nav-item">
                                <button id="Operator" type="submit" class="nav-link" asp-controller="Operator" asp-action="Index">@localizer["Operator"]</button>
                            </li>
                            <li class="nav-item">
                                <button id="User" type="submit" class="nav-link" asp-controller="User" asp-action="Index">@localizer["User"]</button>
                            </li>
                        </ul>
                        @RenderBody()
                    </main>
                </div>
                <partial name="_Footer" />
            </form>
            <partial name="/Views/Shared/_Modal.cshtml" />
        </div>
    </body>
</html>