@using Microsoft.AspNetCore.Mvc.Localization
@using WebAPP.Infrastructure.Models.enums
@using WebApp.Infrastructure.Models.dto
@inject IViewLocalizer localizer
@model Tokens

<div class="navbar-text">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">@Model.Login</button>
        <ul class="dropdown-menu">
            @if(Model.Profile == ProfileItems.Administrator)
            {
                <li><button type="submit" class="dropdown-item" asp-controller="Administrator" asp-action="Accounts">@localizer["Administrator"]</button></li>
            }
            @if (Model.Profile == ProfileItems.Administrator || Model.Profile == ProfileItems.Operator)
            {
                <li><button type="submit" class="dropdown-item" asp-controller="Operator" asp-action="Index">@localizer["Operator"]</button></li>
            }
            <li><button type="submit" class="dropdown-item" asp-controller="User" asp-action="Index">@localizer["User"]</button></li>
            <li><hr class="dropdown-divider"></li>
            <li><button type="submit" class="dropdown-item" asp-controller="Home" asp-action="Logoff">@localizer["Logoff"]</button></li>
        </ul>
    </div>
</div>
