@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model WebAPP.Infrastructure.Models.Tokens

<div class="text-center">
    <h3>@localizer["PageTitle"]</h3>
</div>

<input type="hidden" asp-for=Login value="@Model.Login" />
<input type="hidden" asp-for=Password value="@Model.Password" />
<input type="hidden" asp-for=Cookie value="@Model.Cookie" />
<input type="hidden" asp-for=RequestVerificationToken value="@Model.RequestVerificationToken" />
<input type="hidden" asp-for=JwtToken value="@Model.JwtToken" />
