@using Microsoft.AspNetCore.Mvc.Localization
@using WebAPP.Infrastructure.GlobalParameters
@using WebApp.Infrastructure.Models.dto
@using WebAPP.Infrastructure.Models.enums
@using System.Globalization
@inject IViewLocalizer localizer
@model BiographyDto

<article>
    <div class="d-flex flex-row">
        <div class="p-2 d-flex flex-column">
            <img src="~/Images/leaves.jpg" alt="Immagine dell'autore" />
            <div>
                <div><b>@localizer["BirthDay"]</b><br />@Model.Author.BirthDay</div>
                <div><b>Email</b><br />@Model.Author.Email</div>
                <div><b>@localizer["WorkPlace"]</b><br />@Model.Author.WorkPlace</div>
                <div><b>@localizer["WorkAddress"]</b><br />@Model.Author.WorkAddress</div>
                <div><b>@localizer["Nationality"]</b><br />@Model.Author.Nationality</div>
            </div>
        </div>
        <div class="d-flex flex-column w-100">
            <div class="p-2"><h3>@(Model.Author.Title is null ? string.Empty : Model.Author.Title!.Description) @Model.Author.Name @Model.Author.Surname</h3></div>
            <div class="p-2">
                @* .AspNetCore.Culture è il nome di default assegnato al cookie del locale scelto *@
                @(Context.Request.Cookies[".AspNetCore.Culture"] == null || Context.Request.Cookies[".AspNetCore.Culture"]! == Model.Text)
                @if(Model.Profile != ProfileItems.User)
                {
                    <div class="d-flex flex-row-reverse"><button type="button" class="btn btn-link text-decoration-none">@localizer["Modify"]</button></div>
                }
            </div>

            <div class="p-2"><h4>@localizer["Responsibility"]</h4></div>
            <div class="w-100 p-2">
                <ol class="nav list-group list-group-numbered">
                    @foreach (var r in Model.Responsibilities)
                    {
                        <li class="w-100 d-flex flex-row list-group-item">
                            @if (r.From is not null)
                                {
                                <p class="px-2">
                                    @(r.From.Value.ToString("yyyy")) - @(r.To is not null ? $"{r.To.Value.ToString("yyyy")}." : "... .")
                                </p>
                                }
                                @(Context.Request.Cookies[".AspNetCore.Culture"] == null || Context.Request.Cookies[".AspNetCore.Culture"]! == r.Description)
                        </li>
                    }
                </ol>

                <div class="p-2"><h4>@localizer["Works"]</h4></div>
                <div class="w-100 p-2">
                    <ol class="nav list-group list-group-numbered">
                        @foreach (var t in Model.Texts)
                        {
                            <li class="w-100 d-flex flex-row list-group-item">
                                <a class="px-2 text-decoration-none" href="~/StaticFiles/@(t.Id).pdf" target="_blank">@(t.Title)</a>.&nbsp;@(string.IsNullOrEmpty(t.ISBN) ? string.Empty : $"{t.ISBN}.") @(t.Published is null ? string.Empty : $"{t.Published.ToString()}.")
                            </li>
                        }
                    </ol>
                </div>
            </div>
            <div class="d-flex flex-row"></div>
        </div>
    </div>
</article>

<script type="text/javascript">
    $(function () {
        waitingDialog.show();

        setTimeout(function () { waitingDialog.hide(); }, 2000);
    });

</script>