@using Microsoft.AspNetCore.Mvc.Localization
@using WebAPP.Infrastructure.Models.enums
@inject IViewLocalizer localizer
@model WebAPP.Infrastructure.Models.TextsDto

<input type="hidden" asp-for=Login value="@Model.Login" />
<input type="hidden" asp-for=Password value="@Model.Password" />
<input type="hidden" asp-for=Profile value="@Model.Profile" />
<input type="hidden" asp-for=Cookie value="@Model.Cookie" />
<input type="hidden" asp-for=RequestVerificationToken value="@Model.RequestVerificationToken" />
<input type="hidden" asp-for=JwtToken value="@Model.JwtToken" />

<div class="text-center">
    <h3>@localizer["PageTitle"]</h3>
</div>

<div style="display: flex">
    <nav class="nav flex-column">
        @if (Model.Profile == ProfileItems.Administrator || Model.Profile == ProfileItems.Operator)
        {
            <a class="nav-link active" href="#" onclick="addRow();">@localizer["Add"]</a>
            <a id="delete" class="nav-link" href="#modalRequest" data-toggle="modal" data-target="#modalRequest">@localizer["Delete"]</a>
        }
    </nav>
    <article>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="hugeInputText">Title</th>
                    <th scope="col"><div data-placement="top">@localizer["ISBN"]</div></th>
                    <th scope="col"><div data-placement="top">@localizer["Published"]</div></th>
                    <th scope="col"><div data-placement="top">@localizer["Present"]</div></th>
                    <th scope="col"><div data-placement="top">@localizer["Archive"]</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Texts)
                {
                    <tr>
                        <th scope="row">@(Model.Texts.IndexOf(t) + 1)</th>
                        <td class="hugeInputText" style="cursor:grab">@t.Title</td>
                        <td class="inputText">@t.ISBN</td>
                        <td class="slimInputText">@t.Published</td>
                        <td class="slimInputText">@t.Present</td>
                        <td class="inputText">@t.Archive</td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="warningMessage"></p>
    </article>
</div>