@using WebApp.Infrastructure.Models.dto
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Tokens

@{
    Version? v = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
}
<img class="mb-4" src="~/droplet.svg" alt="" width="72" height="57">
<h1 class="h4 mb-4 fw-normal">@localizer["GDA"]</h1>

<div class="form-floating">
    <input type="email" class="form-control" asp-for="Login" placeholder="name@example.com">
    <label asp-for="Login">@localizer["Email"]</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
    <label asp-for="Password">Password</label>
</div>

<button class="btn btn-primary w-100 py-2" asp-action="Logon" type="submit">@localizer["SignIn"]</button>
<p class="mt-4 mb-2 text-body-secondary">@localizer["Version"] @v</p>
<p class="warningMessage"></p>

<script type="text/javascript">
    $(document).ready(function () {
        let params = new URLSearchParams(document.location.search);
        @{
            string message = string.Empty;
            if (Model.Errors is not null) message = Model.Errors[0];
        }
            $(".warningMessage").html("@message" != "" ? "@localizer[message]" : params.get("Error"));
    })
</script>