@model WebAPP.Infrastructure.Models.AccountsDto

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="display: flex">
    <nav class="nav flex-column">
        <a class="nav-link active" href="#">Add</a>
        <a class="nav-link disabled" href="#">Modify</a>
        <a class="nav-link" href="#modalRequest" data-toggle="modal" data-target="#modalRequest" onclick="return confirm();">Delete</a>
    </nav>
    <article>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">ExpirationDate</th>
                    <th scope="col">Enabled</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Accounts)
                {
                    <tr>
                        <th scope="row">@Model.Accounts.IndexOf(a)</th>
                        <td>@a.Login</td>
                        <td>@(Model.Login == a.Login ? a.Password : "******")</td>
                        <td>@a.ExpirationDate</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="Status@Model.Login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @a.Status
                                </button>
                                <div class="dropdown-menu" aria-labelledby="Status@Model.Login">
                                    <a class="dropdown-item" href="#">Inactive</a>
                                    <a class="dropdown-item" href="#">Active</a>
                                    <a class="dropdown-item" href="#">ChangePassword</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="warningMessage"></p>
    </article>
</div>

<script type="text/javascript">
    $(function () {
        $(".dropdown-menu").on('click', 'a', function () {
            $(this).parents('.dropdown').find('button').text($(this).text());
        });
    });
</script>