@using WebAPP.Models
@model SingersDto

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="display: flex">
    <nav class="nav flex-column">
        <a class="nav-link active" href="#" onclick="addRow()">Add</a>
        <a class="nav-link disabled" href="#">Modify</a>
        <a class="nav-link" href="#modalRequest" data-toggle="modal" data-target="#modalRequest">Delete</a>
        <a class="nav-link" href="#" onclick="deleteSinger(); return false;">Delete 2</a>
    </nav>
    <article>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">StageName</th>
                    <th scope="col">First name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col" style="display:none"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (SingerDto s in Model.Singers)
                {
                    <tr>
                        <th scope="row">@Model.Singers.IndexOf(s)</th>
                        <td>@s.StageName</td>
                        <td>@s.Firstname</td>
                        <td>@s.Surname</td>
                        <td>@s.Age</td>
                        <td>@s.Email</td>
                        <td style="display:none">@s.Id</td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="warningMessage"></p>
    </article>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("table tbody tr").on('click', function () {
            $(this).toggleClass('rowSelected');
        });

        $("table tbody").on('keypress', function (e) {
            if (e.which == 13) {
                addSinger();
            }
        });
    });

    function addRow() {
        let index = Number($('table > tbody:last-child > tr:last-child > th'). text()) + 1;
        let stageName = '<input type="text" class="inputText" contenteditable="true" value="stagename" />';
        let name = '<input type="text" class="inputText" value="name" />';
        let surname = '<input type="text" class="inputText" value="surname" />';
        let age = '<input type="number" class="inputText" value="5555" />';
        let email = '<input type="text" class="inputText" value="email" />';
        $('table > tbody:last-child').append('<tr>                                  \
                                                <th scope="row">' + index + '</th>  \
                                                <td>' + stageName + '</td>          \
                                                <td>' + name + '</td>               \
                                                <td>' + surname + '</td>            \
                                                <td>' + age + '</td>                \
                                                <td>' + email + '</td>              \
                                              </tr>');
    }

    function addSinger() {
        let singer = {
            StageName: "",
            Firstname: "",
            Surname: "",
            Age: "",
            Email: "",
            Account: "@Model.Login"
        }
        $('table > tbody:last-child > tr:last-child > td input').each(function (index) {
            switch (index) { 
                case 0: singer.StageName = $(this).val();
                    break;
                case 1: singer.Firstname = $(this).val();
                    break;
                case 2: singer.Surname = $(this).val();
                    break;
                case 3: singer.Age = $(this).val();
                    break;
                case 4: singer.Email = $(this).val();
                    break;
            }
        });
        let token = {
            Login: "@Model.Login",
            Password: "@Model.Password",
            RequestVerificationToken: "@Model.RequestVerificationToken",
            Cookie: "@Model.Cookie",
            JwtToken: "@Model.JwtToken"
        };
        $.ajax({
            data: { token, singer },
            url: "AddSinger",
            type: 'post',
            success: function (response) {
                return true;
            },
            error: function (response) {
                let message = $.parseJSON(response.responseText);
                let e = "";
                jQuery.each(message.errors, function (i, val) {
                    e = e + val.errorCode + ". " + val.errorMessage + "<br>";
                });
                $(".warningMessage").html(e);
                return false;
            }
        });
    }

    function deleteSinger() {
        $('table > tbody:last-child > tr > td:last-child').each(function () {
            let row = $(this).closest('tr');
            let rowSelected = row.hasClass('rowSelected');

            if (rowSelected) {
                let singer = {
                    Id: Number($(this).text()),
                    StageName: row.find('td:eq(0)').text(),
                    Firstname: row.find('td:eq(1)').text(),
                    Surname: row.find('td:eq(2)').text(),
                    Age: Number(row.find('td:eq(3)').text()),
                    Email: row.find('td:eq(4)').text(),
                    Account: "@Model.Login"
                }
                let token = {
                    Login: "@Model.Login",
                    Password: "@Model.Password",
                    RequestVerificationToken: "@Model.RequestVerificationToken",
                    Cookie: "@Model.Cookie",
                    JwtToken: "@Model.JwtToken"
                };

                $.ajax({
                    data: { token, singer },
                    url: "DeleteSinger",
                    type: 'post',
                    success: function (response) {
                        if (response.success) {
                            row.fadeOut('slow', function () {
                                row.remove();
                            })
                        }
                        return true;
                    },
                    error: function (response) {
                        let message = $.parseJSON(response.responseText);
                        let e = "";
                        jQuery.each(message.errors, function (i, val) {
                            e = e + val.errorCode + ". " + val.errorMessage + "<br>";
                        });
                        $(".warningMessage").html(e);
                        return false;
                    }
                });
            }
        });


    }
</script>

